<li class='review-list-item'>
	<var class='review-rating'><%= star_rating(review.rating) %></var>
	<p class='review-comment'> | <%= review.comment %></p>
	<em>Posted <%= time_ago_in_words(review.created_at) %> ago</em>
	<nav class='review-actions'>
		<%= link_to 'ðŸ‘ Rate', review_rates_path(review), class: 'new-rate-link' %> 
		<var class='rates-count'><%= review.rates.count %></var> |
		<%= link_to 'ðŸ‘Ž Rubbish', review_rubbishes_path(review), class: 'new-rubbish-link' %> 
			<var class='rubbish-count'><%= review.rubbishes.count %></var> 
		<% if current_user && current_user.id == review.user_id %>
			| <%= link_to 'Delete', restaurant_review_path(restaurant, review), method: :delete %>
		<% end %>
	</nav>
</li>