<% if @restaurants.any? %>
	<section class='restaurant-list-container'>
		<ul class='restaurant-list'>
			<% @restaurants.each do |restaurant| %>
				<li class='restaurant-list-item'>
					<p class='restaurant-list-item-data'>
						<h2 class='list-item-name'><%= restaurant.name %></h2>
						<h2 class='list-item-cuisine'><%= restaurant.cuisine %></h2>
						<h2 class='list-item-score'><%= restaurant.reviews.average(:rating) %></h2>
					</p>
					<ul class='restaurant-reviews-list'>
						<% restaurant.reviews.reverse.each do |review| %>
							<%= render partial: 'review_list_item', locals: {review: review, restaurant: restaurant} %>
						<% end %>
					</ul>
					<nav class='restaurant-list-item-options'>
						<%= render partial: 'nav_bar', locals: {restaurant: restaurant} %>
					</nav>
				</li>
			<% end %>	
		</ul>
	</section>
<% else %>
	<h1 class='empty-list'>No restaurants listed</h1>
<% end %>
