<section class='review-input'>
	<%= form_for [@restaurant, @review], html: {class: 'review-input-form'} do |f| %>
		<%= f.label :rating %>
		<%= f.select :rating, Review::VALID_RATING %>
		<%= f.label :comment %>
		<%= f.text_field :comment, placeholder: "Comment" %>
		<%= f.button "Publish" %>
	<% end %>
</section>