<h1 class='logo'>iFull</h1>
<nav class='top-nav-bar'>
	<% if user_signed_in? %>
		<span class='current-user-display'><%= current_user.email %></span>
		<%= link_to 'Add a restaurant', new_restaurant_path %>
		<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
	<% else %>
		<%= link_to 'Sign In', new_user_session_path %>
		<%= link_to 'Sign Up', new_user_registration_path %>
	<% end %>
</nav>
