<!DOCTYPE html>
<html>
<head>
  <title>MyYelp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header class='top-bar'>
	<p class='current-user-id'>
		<% if user_signed_in? %>
			<%= current_user.email %>
		<% end %>
	</p>
	<%= render 'layouts/nav_bar' %>
</header>
<body>
	<%= render 'layouts/errors' %>
	<%= render 'layouts/flash' %>
	<%= yield %>

</body>
</html>
