<!DOCTYPE html>
<html>
<head>
  <title>iFull</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header class='top-bar'>
	<%= render 'layouts/header' %>
</header>
<body>
	<main>
		<%= render 'layouts/errors' %>
		<%= render 'layouts/flash' %>
		<%= yield %>
	</main>
</body>
</html>
